/* RESET */

img{
    max-width: 100%;
}

/* PALETTE */

:root{
    --bs-primary: #1abc9c;
    --bs-secondary: #2C3E50;
}

.ms_btn-primary{
    background-color: var(--bs-primary);
    border: 1px solid white;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0;
    width: 120px;
    border-radius: 5px;
}

.ms_btn-primary:hover{
    color: white;
    background-color: #15ae90;
}

.ms_text-primary{
    color: var(--bs-primary);
}


/* COMMON */
ul{
    list-style-type: none;
    margin-bottom: 0;
}

h2{
    padding-top: 3rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

#portfolio,
#contact{
    color: var(--bs-secondary);
}

#portfolio .star-lines hr,
#contact .star-lines hr{
    border-color: var(--bs-secondary);
}

.star-lines {
    width: 30%;
    justify-content: center;
    align-items: center;
}

.star-lines i{
    margin: 0 0.5em;
    font-size: 25px;
}

.star-lines hr{
    width: 40%;
    border: 2px solid white;
    border-radius: 2px;
    opacity: 1;
}
/* /COMMON */

/* HEADER */
header{
    padding: 1rem 0;
    background-color: var(--bs-secondary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    color: white;
    vertical-align: middle;
}

header h1{
    margin-bottom: 0;
    font-weight: 800;
}

/* hamburger */
header i{
    color: white;
    border: 1px solid white;
    padding: 0.4em 0.8em;
    border-radius: 4px;
}
/* /hamburger */

/* menu */
header ul li{
    margin-left: 2em;
}

header ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 800;
    opacity: 0.6;
}

header ul li a:hover{
    color: white;
    opacity: 1;
}
/* /menu */

/* /HEADER */

/* MAIN */

/* JUMBO */
.jumbo{
    margin-top: 55px;
    background-color: var(--bs-primary);
    color: white;
}

.jumbo h1{
    font-weight: 600;
    margin-bottom: 0;
}

.jumbo .container-md .img-wrapper{
    width: 250px;
}

.jumbo h3{
    font-size: 1rem;
    padding-top: 1rem;
    text-align: center;
}
/* /JUMBO */

/* PORTFOLIO */
.img-card img{
    border-radius: 20px;
}

/* /PORTFOLIO */

/* ABOUT */
#about{
    background-color: var(--bs-primary);
    color: white;
    margin-top: 4rem;
}

#about .text-wrapper{
    width: 70%;
    margin-top: 1rem;
}

/* /ABOUT */

/* CONTACT */
#contact .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: rgb(209, 209, 209);

}

#contact .form-control:focus{
    box-shadow: none;
}

#contact .message-box{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: rgb(209, 209, 209);
    padding: 1rem;
}

#contact .form-control:focus-visible{
   box-shadow: none;
   border: 0;
}


/* /CONTACT */

/* SOCIAL */
#social{
    background-color: var(--bs-secondary);
    color: white;
    text-align: center;
    padding: 3rem;
}

#social .around-web{
    margin: 2rem auto;
}

#social .box{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 0.5rem;
}

#social .box a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

#social .text-wrapper,
#social .address{
    font-size: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

/* /SOCIAL */

/* /MAIN */

/* FOOTER */
footer{
    background-color: #1c2733;
    text-align: center;
    color: white;
    padding: 2rem;
    font-size: 0.8rem;
}
/* /FOOTER */